.second-line {
  font-size: 12px;
}

.sats {
  color: var(--transparent-fg);
  font-size: 12px;
  top: 0px;
}

.formRadioGroup {
  @media (min-width: 435px) {
    position: absolute;
    right: 0;
    top: -46px;
  }
  @media (max-width: 435px) {
    display: flex;
  }
}

:host-context(.rtl-layout) .formRadioGroup {
  direction: ltr;
  @media (min-width: 435px) {
    right: unset;
    left: 0;
  }
}

.btn-group {
  @media (max-width: 435px) {
    flex-grow: 1;
  }
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.channelid {
  padding-right: 0;
}