<div *ngIf="channels$ | async as response; else skeleton" style="position: relative;">
  <form [formGroup]="channelStatusForm" class="formRadioGroup">
    <div class="btn-group btn-group-toggle" name="radioBasic">
      <label class="btn btn-primary btn-sm" [class.active]="channelStatusForm.get('status').value === 'open'">
        <input type="radio" [value]="'open'" fragment="open" formControlName="status"><span i18n="open">Open</span>
      </label>
      <label class="btn btn-primary btn-sm" [class.active]="channelStatusForm.get('status').value === 'closed'">
        <input type="radio" [value]="'closed'" fragment="closed" formControlName="status"><span i18n="closed">Closed</span>
      </label>
    </div>
    <div class="ml-2" style="display: inline-block; vertical-align: middle;">
      <input type="search" class="form-control" placeholder="Search alias" formControlName="alias">
    </div>
    <div class="ml-2" style="display: inline-block; vertical-align: middle;">
      <div ngbDropdown class="dropdown-container" (window:resize)="onResize()" [ngClass]="{'d-inline-block': true}">
        <button ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle-split btn-sm d-flex justify-content-center align-items-center" aria-haspopup="true">
          Columns
        </button>
        <div ngbDropdownMenu [ngClass]="{'dropdown-menu-right' : isMobileDropdown}" class="p-2" formGroupName="columns">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="colChannelInfo" formControlName="channelInfo">
            <label class="form-check-label" for="colChannelInfo">Channel Info</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="colLocal" formControlName="local">
            <label class="form-check-label" for="colLocal">Local</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="colPeer" formControlName="peer">
            <label class="form-check-label" for="colPeer">Peer</label>
          </div>
          <div class="form-check" *ngIf="status === 'closed'">
            <input class="form-check-input" type="checkbox" id="colClosing" formControlName="closingDate">
            <label class="form-check-label" for="colClosing">Closing date</label>
          </div>
        </div>
      </div>
    </div>
  </form>

  <table class="table table-borderless" *ngIf="response.channels.length > 0" [style]="isLoading ? 'opacity: 0.75' : ''">
    <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
    <tbody>
      <tr *ngFor="let channel of response.channels; let i = index;">
        <ng-container *ngTemplateOutlet="tableTemplate; context: { $implicit: channel, node: channel.node }"></ng-container>
      </tr>
    </tbody>
  </table>

  <table class="table table-borderless" *ngIf="response.channels.length === 0">
    <div class="d-flex justify-content-center" i18n="lightning.empty-channels-list">No channels to display</div>
  </table>

  <div class="clearfix"></div>
  <br>
</div>
  
<ng-template #tableHeader>
  <thead>
    <tr>
      <th *ngIf="columns.get('channelInfo').value" colspan="5">Channel Info</th>
      <th *ngIf="columns.get('local').value && status !== 'closed'" colspan="4">Local</th>
      <th *ngIf="columns.get('peer').value && status !== 'closed'" colspan="4">Peer</th>
    </tr>

    <tr>
      <th *ngIf="columns.get('channelInfo').value" class="alias text-left" i18n="lightning.alias">Alias</th>
      <th *ngIf="columns.get('channelInfo').value" class="nodedetails text-left">&nbsp;</th>
      <th *ngIf="columns.get('channelInfo').value" class="liquidity text-right" i18n="lightning.capacity">Capacity</th>
      <th *ngIf="columns.get('channelInfo').value" class="channelid text-right" i18n="channels.id">Channel ID</th>
      <th *ngIf="columns.get('channelInfo').value" class="status text-left" i18n="transaction.status|Transaction Status">Status</th>
      <th *ngIf="columns.get('local').value && status !== 'closed'" class="feerate text-left">Fee rate</th>
      <th *ngIf="columns.get('local').value && status !== 'closed'" class="feerate text-left">Inbound Fee rate</th>
      <th *ngIf="columns.get('local').value && status !== 'closed'" class="feerate text-left">Base fee</th>
      <th *ngIf="columns.get('local').value && status !== 'closed'" class="feerate text-left">Inbound Base fee</th>
      <th *ngIf="columns.get('peer').value && status !== 'closed'" class="feerate text-left">Fee rate</th>
      <th *ngIf="columns.get('peer').value && status !== 'closed'" class="feerate text-left">Inbound Fee rate</th>
      <th *ngIf="columns.get('peer').value && status !== 'closed'" class="feerate text-left">Base fee</th>
      <th *ngIf="columns.get('peer').value && status !== 'closed'" class="feerate text-left">Inbound Base fee</th>
      <th *ngIf="columns.get('closingDate').value && status === 'closed'" class="feerate text-left" i18n="channels.closing_date">Closing date</th>
    </tr>
  </thead>
</ng-template>

<ng-template #tableTemplate let-channel let-node="node">
  <td *ngIf="columns.get('channelInfo').value" class="alias text-left">
    <app-truncate [text]="node.alias || '?'" [maxWidth]="200" [lastChars]="6"></app-truncate>
    <div class="second-line">
      <app-truncate [text]="node.public_key" [maxWidth]="200" [lastChars]="6" [link]="['/lightning/node' | relativeUrl, node.public_key]">
        <app-clipboard [text]="node.public_key" size="small"></app-clipboard>
      </app-truncate>
    </div>
  </td>
  <td *ngIf="columns.get('channelInfo').value" class="nodedetails text-left">
    <div class="second-line"><ng-container *ngTemplateOutlet="xChannels; context: {$implicit: node.channels }"></ng-container></div>
    <div class="second-line">
      <app-amount *ngIf="node.capacity > 100000000; else smallnode" [satoshis]="node.capacity" [digitsInfo]="'1.2-2'" [noFiat]="true"></app-amount>
      <ng-template #smallnode>
        {{ node.capacity | amountShortener: 1 }}
        <span class="sats" i18n="shared.sats">sats</span>
      </ng-template>
    </div>
  </td>
  <td *ngIf="columns.get('channelInfo').value" class="liquidity text-right">
    <app-amount *ngIf="channel.capacity > 100000000; else smallchannel" [satoshis]="channel.capacity" [digitsInfo]="'1.2-2'" [noFiat]="true"></app-amount>
    <ng-template #smallchannel>
      {{ channel.capacity | amountShortener: 1 }}
      <span class="sats" i18n="shared.sats">sats</span>
    </ng-template>
  </td>
  <td *ngIf="columns.get('channelInfo').value" class="channelid text-right">
    <a [routerLink]="['/lightning/channel' | relativeUrl, channel.id]">{{ channel.short_id }}</a>
   </td>
  <td *ngIf="columns.get('channelInfo').value" class="status">
    <span class="badge rounded-pill badge-secondary" *ngIf="channel.status === 0" i18n="status.inactive">Inactive</span>
    <span class="badge rounded-pill badge-success" *ngIf="channel.status === 1" i18n="status.active">Active</span>
    <ng-template [ngIf]="channel.status === 2">
      <span class="badge rounded-pill badge-secondary" *ngIf="!channel.closing_reason; else closingReason" i18n="status.closed">Closed</span>
      <ng-template #closingReason>
        <app-closing-type [type]="channel.closing_reason"></app-closing-type>
      </ng-template>
    </ng-template>
  </td>
  <td *ngIf="columns.get('local').value && status !== 'closed'" class="feerate text-left">
    {{ channel.fee.local.rate }} <span class="symbol">ppm</span>
  </td>
  <td *ngIf="columns.get('local').value && status !== 'closed'" class="feerate text-left">
    {{ channel.fee.local.inbound_rate }} <span class="symbol">ppm</span>
  </td>
  <td *ngIf="columns.get('local').value && status !== 'closed'" class="feerate text-left">
    {{ channel.fee.local.base / 1000 }} <span class="symbol">sats</span>
  </td>
  <td *ngIf="columns.get('local').value && status !== 'closed'" class="feerate text-left">
    {{ channel.fee.local.inbound_base / 1000 }} <span class="symbol">sats</span>
  </td>
  <td *ngIf="columns.get('peer').value && status !== 'closed'" class="feerate text-left">
    {{ channel.fee.peer.rate }} <span class="symbol">ppm</span>
  </td>
  <td *ngIf="columns.get('peer').value && status !== 'closed'" class="feerate text-left">
    {{ channel.fee.peer.inbound_rate }} <span class="symbol">ppm</span>
  </td>
  <td *ngIf="columns.get('peer').value && status !== 'closed'" class="feerate text-left">
    {{ channel.fee.peer.base / 1000 }} <span class="symbol">sats</span>
  </td>
  <td *ngIf="columns.get('peer').value && status !== 'closed'" class="feerate text-left">
    {{ channel.fee.peer.inbound_base / 1000 }} <span class="symbol">sats</span>
  </td>
  <td *ngIf="columns.get('closingDate').value && status === 'closed'" class="feerate text-left">
    <app-timestamp [unixTime]="channel.closing_date"></app-timestamp>
  </td>
</ng-template>

<ng-template #skeleton>
  <table class="table table-borderless">
  <ng-container *ngTemplateOutlet="tableHeader"></ng-container>
  <tbody>
    <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
      <td class="alias text-left" style="width: 370px;">
        <span class="skeleton-loader"></span>
      </td>
      <td class="nodedetails text-left">
        <span class="skeleton-loader"></span>
      </td>
      <td class="status text-left">
        <span class="skeleton-loader"></span>
      </td>
      <td class="feerate text-left">
        <span class="skeleton-loader"></span>
      </td>
      <td class="feerate text-left">
        <span class="skeleton-loader"></span>
      </td>
      <td class="feerate text-left">
        <span class="skeleton-loader"></span>
      </td>
      <td class="feerate text-left">
        <span class="skeleton-loader"></span>
      </td>
      <td class="feerate text-left">
        <span class="skeleton-loader"></span>
      </td>
      <td class="liquidity text-right">
        <span class="skeleton-loader"></span>
      </td>
      <td class="channelid text-left">
        <span class="skeleton-loader"></span>
      </td>
    </tr>
  </tbody>
</table>
</ng-template>

<ng-template #xChannels let-i i18n="lightning.x-channels">{{ i }} channels</ng-template>
